{% extends "skeleton.twig" %}

{% block title %}Account{% endblock %}

{% block content %}
    <h1>Account van: {{ user.username }}</h1>
    <div class="recent">
        <div class="titleContainer">
            <h4 class="reverseTitle">advertenties</h4>
        </div>
        <!--<ul class="adList">
        {% set previousSection = "" %}
        {% for item in itemList %}
    
            {% if not (item.section.name == previousSection) %}       
                <div class="titleContainer"><h4 class="reverseTitle sectionname">{{ item.section.name }}</h4></div>
            {% endif %}
            <li class="itemEditDelete">
                <span class="itemTitle">{{ item.title|capitalize }}</span>  <div class="editDelete"><a href="item.php?action=edit&id={{ item.id }}">Edit</a> - <a href="item.php?action=delete&id={{ item.id }}">Delete</a></div>
            </li>
            {% set previousSection = item.section.name %}
        {% endfor %}
    </ul>-->

        {% for item in itemList %}



            <div class="itemdetails">


                <div class="itemImg"><img src="src/OWG/Weggeefwinkel/Presentation/Img/{{ item.img }}"></div>
                <div class="itemcontent">
                    <h4>{{ item.title|capitalize }}</h4>
                    <div class="itemdescription">{{ item.description }} </div>
                    <div class="itemfooter">
                        <span class="itemlocation">{{ item.user.city.postcode }} - {{ item.user.city.name }}</span>
                        <h4 id="item-sectionName">{{item.section.name}}</h4>
                    </div>

                </div>
            </div>
            <div class="editDelete"><a href="item.php?action=edit&id={{ item.id }}">Edit</a>&nbsp;-&nbsp;<a href="item.php?action=delete&id={{ item.id }}">Delete</a></div>







        {% endfor %}
    </div>

    <form action="item.php?action=add" method="post">
        <input type="submit" name="" value="Voeg een item toe">
    </form>
    <h2>Wijzig gegevens</h2>
    Username: {{ user.username }}
    <form action="account.php?action=editData" method="post">
        <input type="text" name="email" placeholder="email" value="{{ user.email }}">
        <select name="city">

            <option selected disabled>Woonplaats...</option>
            {% for city in cityList %}
                {% set selected = "" %}
                {% if city.name == user.city.name %}
                    {% set selected = "selected" %}
                {% endif %}
                <option value="{{ city.id }}" {{selected}}>
                    {{city.postcode}}, {{ city.name }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Wijzig</button>

    </form>
    <form action="account.php?action=editPass" method="post">
        <input type="password" name="oldPass" placeholder="oud paswoord" >
        <input type="password" name="pass" placeholder="nieuw paswoord" >
        <input type="password" name="pass2" placeholder="bevestig nieuw paswoord" >
        <button type="submit">Wijzig</button>
    </form>

{% endblock %}