{% extends "skeleton.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="container">
        <h1>Meest recent: </h1>



        {% for item in itemList %}
            <div class="lastItems">
                <h2>{{item.section}}</h2>
                
                <div class="itemdetails">
                    <div class="image"><h4>{{item.title}}</h4><img src="src/OWG/Weggeefwinkel/Presentation/Img/{{item.img}}"></div>
                    <div class="location">{{item.postcode}} {{ item.city}}</div>

                    <div class="date">{{item.date}}</div>
                </div>
            </div>




        {% endfor %}

    </div>

{% endblock %}