{% extends "skeleton.twig" %}

{% block title %}Edit item{% endblock %}

{% block content %}
    <div class="titleContainer">
            <h4 class="reverseTitle">details</h4>
        </div>
    <div class="itemfull">
        <div class="detailsfull">
                <h4 id="item-sectionName">{{item.section.name}}</h4>
                <span class="itemlocation">{{ item.user.city.postcode }} - {{ item.user.city.name }}</span>
        </div>
        <img src="src/OWG/Weggeefwinkel/Presentation/Img/{{ item.img }}">
        

        <div class="itemcontent">

            <h4>{{ item.title|capitalize }}</h4>
            <div class="itemdescription">{{ item.description }} </div>

         
        </div>





    </div>


{% endblock %}